build/
decred/examples/wallets
decred/dist/
decred/poetry.lock
tinywallet/dist/
htmlcov/
prof/
.venv/
.mypy_cache/
__pycache__/
.idea/
.vscode/
decred/setup.py
.pytest_cache
.coverage
*.c
*.so
*.dll
*.html
*.egg-info
