decred/build
decred/examples/wallets
decred/decred/crypto/secp256k1/field.c
decred/dist/
decred/poetry.lock
tinywallet/dist/
htmlcov/
prof/
.venv/
__pycache__/
.pytest_cache
.coverage
*.so
*.dll
*.html
*.egg-info
*.sublime-project
*.sublime-workspace
