build/
decred/examples/wallets
decred/dist/
decred/poetry.lock
tinywallet/dist/
htmlcov/
prof/
.venv/
__pycache__/
.pytest_cache
.coverage
*.c
*.so
*.dll
*.html
*.egg-info
*.sublime-project
*.sublime-workspace
